@import url(https://fonts.googleapis.com/css?family=Didact Gothic:700);
html, button, input {font-family: Didact Gothic; color: Crimson}

.allPics {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 50px;
}

.uploadForm {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

body {
    text-align: center;
    background-size: cover;
    margin: 0;
}

a {
    text-decoration: none;
    color: Crimson
}

.modalicious {
    background-size: cover;
    margin: 0;
    background: rgba(220,20,60,0.5);
    color: white;
    position: absolute;
    text-align: center;
    top: 0;
    height: 100%;
    width: 100%;
}

.block {
    display: flex;
    justify-content: space-between;
    background: black;
    color: Crimson;
    height: 75%;
    width: 75%;
    margin-left: 180px;
}
.sideA {
    display: flex;
    flex-direction: column;
}

.sideB {
    display: flex;
    flex-direction: column-reverse;
    margin-right: 120px;
    margin-bottom: 20px;
}

.allImgComments {
    background: rgba(220, 20, 60, 0.8);
    border: 1px solid rgba(220, 20, 60, 0.6);
    color: rgba(255, 250, 240, 0.8);
    margin-bottom: 50px;
    padding: 5px;
    border-radius: .5em;
}

input {
    border: 2px solid FloralWhite;
    font-size: 1em;
    border-radius: .25em;
    background: WhiteSmoke;
}

.modalicious input {
    border: 2px solid rgb(16,16,16);
    background: rgb(8,8,8);
    margin-bottom: 5px;
}

label {
    border: 2px solid FloralWhite;
    font-size: 1em;
    padding: .25em .5em .3125em;
    color: WhiteSmoke;
    border-radius: .25em;
    background: rgba(238, 68, 102, 0.4);
}

input[type="file"] {
    display: none;
}

button {
    border: 2px solid FloralWhite;
    font-size: 1em;
    padding: .25em .5em .3125em;
    color: WhiteSmoke;
    border-radius: .25em;
    background: rgba(220, 20, 60, 0.5);
}

.modalicious button {
    color: rgb(8,8,8);
    border: 2px solid rgb(16,16,16);
    background: rgba(238, 68, 102, 0.6);
}

.exitModal {
    color: black;
    text-align: right;
}

#desc {
    color: rgba(220, 20, 60, 0.8);
}

#date {
    color: rgba(238, 68, 102, 0.8)
}

img {
    border-radius: .5em;
}

.sideA img {
    border-radius: 0em;
}

.sideA p {
    border-radius: 0em;
}

header,
footer {
    height: 20px;
    color: rgba(220, 20, 60, 0.5);
}

footer {
    margin-top: 10px;
}
